@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: url("https://raw.githubusercontent.com/Kenan862/System-Assets/main/boot.jpg?token=GHSAT0AAAAAABVOKKD3C5AOKL4KOR32Y6YOYXCBMVA") center / cover no-repeat;
    flex-direction: column;
    cursor: none;
}

.boot_text{
    color: #fff;
    margin: 10px;
}

.boot_paragraph{
    color: #fff;
    margin: 15px;
}

.d-none{
    display: none;
}