#boot {
    height: 40%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.1px);
    -webkit-backdrop-filter: blur(11.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    user-select: none;

    & .options {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 25px;
        flex-direction: column;

        & .option {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            overflow: hidden;
            display: flex;
            align-items: center;
            color: #fff;
            list-style-type: none;
            height: 20%;
            width: 100%;
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            padding: 10px;
            & img{
                height: 30px;
            }

            &:hover {
                background: rgba(0, 126, 255, 0.68);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(0, 126, 255, 0.3);
                transition: 0.5s;
            }

            &:not(:hover) {
                transition: 0.5s;
            }

        }

        .option-default {
            background: rgba(0, 45, 255, 0.68);
            border-radius: 5px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(0, 45, 255, 0.3);
        }

    }
}